# Environment
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
